homework1/DL/mmclassification/logs
homework1/DL/mmclassification/work_dirs
*.pth
*.log
__pycache__/
.idea/
.vscode/
homework2/crontrolnet/checkpoints/
homework2/pytorch-CycleGAN-and-pix2pix-master/checkpoints/