homework1/DL/mmclassification/logs
homework1/DL/mmclassification/work_dirs
*.pth
*.log
__pycache__/
.idea/
.vscode/
homework2/crontrolnet/checkpoints/
homework2/pytorch-CycleGAN-and-pix2pix-master/checkpoints/
homework2/taming-transformers/data
homework2/taming-transformers/assets
homework2/taming-transformers/logs
homework2/BicycleGAN/checkpoints
homework2/BicycleGAN/datasets
homework2/BicycleGAN/imgs